<div class="title-bar">
	<h1>{{ 'Store Locator'|t }}</h1>
	<div class="search-box">
		{{ store_form }}
	</div>
</div>
<div class="map-holder" id="map-holder">
</div>
<div class="location-bar">
	<div class="scroll jcf-scrollable">
		<ol id="location-list">
		</ol>
	</div>
</div>