<article class="block">
  <header class="heading-holder">
    <h2>{{ 'Store Locator'|t }}</h2>
    <div class="search">
      {{ store_form }}
    </div>
  </header>
  <div class="map-holder" id="map-holder">
  </div>
  <ol id="location-list">
  </ol>
</article>