<div class="subscribe-popup">
  <div class="popup-wrap">
    <div id="popup-content">
      <span class="icon"><img src="/{{ base_path ~ directory }}/images/ico-mail.svg" alt="img description"></span>
      <strong class="title">{{ 'Subscribe to our newsletter.'|t }}</strong>
      <p>{{ 'Receive update on new arrivals, special offers and other lifestyle information.'|t }}</p>
      <div class="email-valid-message"></div>
      {{ subscribe_form }}
    </div>
    <a href="#" class="close">&nbsp;</a>
  </div>
  <div class="overlay">&nbsp;</div>
</div>